/*catalog*/

:root {
  --anchor-color: #000;
  --anchor-active-color: #0c0c0c;
  --currency-symbol: $;
}

main .container h2 {
  text-transform: uppercase;
}

.bg-sale {
  background-color: rgb(43, 2, 2);
  color: white;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.3rem;
}

.product-container .product {
  overflow: hidden;
  position: relative;
  height: 17rem;
  max-width: 12rem;

  .icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: -1;
  }

  .icons a {
    background-color: #fff;
    color: var(--anchor-color);
    display: block;
    margin-top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .icons a:hover {
    background-color: var(--anchor-active-color);
    color: #fff;
  }

  .image {
    img {
      object-fit: cover;
      max-width: 100%;
      display: block;
      height: 15rem;
    }

    .badge {
      display: inline-block;
      text-align: center;
      vertical-align: baseline;
      font-size: 0.75rem;
      padding: 0.25rem 0.45rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  .content {
    padding: 0.5rem;

    h3 {
      padding-bottom: 0.5rem;
      text-align: center;
      font-size: 1rem;
      position: absolute;
      bottom: -3rem;
      left: 0;
      right: 0;
      z-index: 10;
    }

    .price {
      font-weight: 500;
      font-size: 0.8rem;
      color: var(--anchor-active-color);
    }

    .price::before {
      content: var(--currency-symbol);
      color: var(--anchor-active-color);
    }

    .price:empty {
      display: none;
    }
  }
}

.product:hover h3 {
  bottom: 1.5rem;
}

.product:hover .icons {
  z-index: 10;
}

@media (min-width: 35rem) {
  #catalog {
    display: grid;
    gap: 1em;
    grid-template-columns: 15rem auto;
  }
}

ul.categories a:hover {
  color: var(--anchor-active-color);
  text-decoration: underline;
}

ul.categories li:nth-child(even) {
  background-color: lightgrey;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .col {
  flex: 1;
}

select {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bg-dark {
  background-color: black;
}

.text-white {
  color: white;
}
