/*catalog*/
main .container h2 {
  text-transform: uppercase;
}

main .container h2 > span {
  color: var(--anchor-active-color);
}

.product-container > .product > .icons > a {
  background-color: #fff;
  color: var(--anchor-color);
}

.product-container > .product > .icons > a:hover {
  background-color: var(--anchor-active-color);
  color: #fff;
}

.product-container > .product > .content > .price {
  font-weight: 600;
  color: var(--anchor-active-color);
}

.product-container > .product > .content > .price::before {
  color: var(--anchor-active-color);
  content: var(--currency-symbol);
}

ul.categories a:hover {
  color: var(--anchor-active-color);
  text-decoration: underline;
}

ul.categories li:nth-child(even) {
  background-color: lightgrey;
}

.text-shadow-example {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
