#like.container {
    display: flex;
    align-items: center;
}

.like-button {
    font-size: 24px;
    cursor: pointer;
}

.like-count {
    margin-left: 10px;
}

.liked-items-list {
    list-style: none;
    margin-top: 20px;
}

.liked-items-list li {
    margin-bottom: 5px;
}
.liked-items-list img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
}

.liked-items-list button {
    cursor: pointer;
}