/*main.css*/
@import url(/css/common.css);
@import url(/css/nav.css);
@import url(/css/hero.css);
@import url(/css/breadcrumb.css);
@import url(/css/catalog.css);
@import url(/css/blog.css);
@import url(/css/contact.css);
@import url(/css/footer.css);
@import url(/css/app.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css);

.text-uppercase {
    text-transform: uppercase;
}

.bg-dark {
    background-color: black;
}

.text-white {
    color: white;
}

ul.categories li a {
    color: rgb(18, 3, 29);
    text-decoration: none;
    font-size: 1.2rem;
}

ul.categories li a:hover {
    background-color: lightgray;
}

